.App {
  background-color: lightpink;
  text-align: center;
  height: 100vh;
  padding-top: 150px;
}

.inputWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.input {
  outline: none;
  border: 3px solid gray;
  border-radius: 7px;
  padding-left: 7px;
  margin-bottom: 20px;
  padding: 4px 10px;
}

.input:focus {
  border-color: #222;
}

.button {
  border-radius: 8px;
  background-color: rgb(230, 146, 158);
  color: #fff;
  min-width: 80px;
  padding: 5px;
  border: 1px solid rgb(145, 85, 93);
  cursor: pointer;
}
.button:hover {
  transform: scale(1.2);
}

.table {
  margin: 0 auto;
  margin-top: 20px;
}
.table,
th,
td {
  border: 1px solid black;
  border-radius: 2px;
}
